body {
    background-color: lightblue;
}

h1 {
    font-family: Cursive;
}

p {
    font-family: monospace;
    font-size: 15px;
    color: black;
}

div {
    background-color: white;
    width: 400px;
    color: black;
}